<h2 class="border-b p-4 text-lg font-bold">Home</h2>

    <div class="p-4 flex gap-4 items-start border-b">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <form class="w-full py-2">

            <textarea class="w-full outline-0 resize-none" placeholder="O que está acontecendo?" maxlength="55" id=""></textarea>

            <div class="flex justify-end items-center">

                <button class="font-bold text-white text-md bg-[#DC6400] px-6 py-2 rounded-full" type="submit">Tweet</button>

            </div>

        </form>

    </div>

    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>


    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                        <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>


    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>


    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>


    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>


    <div class="flex w-full border-b p-4 gap-4 items-start">

        <img class="w-16 rounded-full" src="./assets/images/profile_pic_example.png" alt="Profile pic">

        <div class="flex flex-col w-full">

            <div class="flex mb-1 gap-2 items-center justify-between sm:mb-0">

                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                    <h4 class="font-bold text-md">Designsta</h4>
                    <p class="text-sm text-slate-500">&#64;usuarioTest · 25m</p>
                </div>
                <button><img class="w-3" src="./assets/images/options.png" alt="More options"></button>

            </div>

            <div class="mb-4">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget diam nulla.</p>

            </div>

            <div class="flex gap-16">

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/comment.png" alt="Comment Icon">
                    10
                </button>

                <button class="flex items-center gap-1">
                    <img class="w-5" src="./assets/images/like.png" alt="Like Icon">
                    10
                </button>

            </div>

        </div>

    </div>
