<div class="w-full h-screen flex justify-center items-center">
 
    <main class="flex flex-col h-max w-1/4 min-w-[300px]">
        
        <img class="w-16 mb-4" src="./assets/images/logo_login.png" alt="Logo">

        <h2 class="font-black text-4xl mb-8">Entre no OrangeX</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
            
            <div *ngIf="loginError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative -mb-4 -mt-4" role="alert">
                <strong class="font-bold">E-mail ou senha inválidos</strong>
            </div>

            <div *ngIf="email?.invalid && email?.touched" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative -mb-4 -mt-4" role="alert">
                <strong *ngIf="email?.errors!['required']" class="font-bold">E-mail é obrigatório</strong>
                <strong *ngIf="email?.errors!['pattern']" class="font-bold">E-mail inválido</strong>
            </div>

            <div class="relative">
                <input
                  formControlName="email"
                  class="peer p-4 block w-full border border-blue-gray-700 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none
                  focus:pt-6
                  focus:pb-2
                  [&:not(:placeholder-shown)]:pt-6
                  [&:not(:placeholder-shown)]:pb-2
                  autofill:pt-6
                  autofill:pb-2"
                  placeholder="you@email.com"/>
                  <label class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none
                  peer-focus:scale-90
                  peer-focus:translate-x-0.5
                  peer-focus:-translate-y-1.5
                  peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
                  peer-[:not(:placeholder-shown)]:scale-90
                  peer-[:not(:placeholder-shown)]:translate-x-0.5
                  peer-[:not(:placeholder-shown)]:-translate-y-1.5
                  peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 dark:text-neutral-500">Email</label>
            </div>

            <div *ngIf="password?.invalid && password?.touched" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative -mb-4" role="alert">
                <strong *ngIf="password?.errors!['required']" class="font-bold">Senha é obrigatória</strong>
            </div>

            <div class="relative">
                <input
                  formControlName="password"
                  class="peer p-4 block w-full border border-blue-gray-700 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none
                  focus:pt-6
                  focus:pb-2
                  [&:not(:placeholder-shown)]:pt-6
                  [&:not(:placeholder-shown)]:pb-2
                  autofill:pt-6
                  autofill:pb-2"
                  placeholder=" "
                  type="password"/>
                  <label class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none
                  peer-focus:scale-90
                  peer-focus:translate-x-0.5
                  peer-focus:-translate-y-1.5
                  peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
                  peer-[:not(:placeholder-shown)]:scale-90
                  peer-[:not(:placeholder-shown)]:translate-x-0.5
                  peer-[:not(:placeholder-shown)]:-translate-y-1.5
                  peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 dark:text-neutral-500">Senha</label>
            </div>

            <button class="w-full font-bold text-white text-lg bg-[#DC6400] py-2 rounded-full relative" [class.spinner]="loading" type="submit" [disabled]="loginForm.invalid || loading">Login</button>
            
        </form>

        <div class="mt-8 w-full flex justify-between transition-all">
            <a class="text-sky-400 duration-300 hover:text-[#DC6400]" href="#">Esqueceu a senha?</a>
            <a class="text-sky-400 duration-300 hover:text-[#DC6400]" routerLink="/register">Criar uma conta</a>
        </div>

    </main>

</div>